.event {
    margin-bottom: 30px;
    opacity: .9;
}

.event-body {
    border-radius: 20px;
    text-align: left;
}

.event-summary {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.event-location, .event-date, .event-start-time, .event-end-time {
    margin-left: 20px;
}

#toggle-details {
    margin-left: 20px;
    color: white;
    margin-bottom: 30px;
    border: none;
    background-color: #FAA916;
}

.event-details {
    margin: 20px;
    padding-bottom: 20px;
}