.event-summary {
    font-size:x-large;
}
/* 
.toggle-details {
    padding: 5px 8px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  } */

.event {
    padding: 10px 10px 35px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    background-color: white;
}