@import url(https://fonts.googleapis.com/css?family=Roboto:500);

html, body, body > div, .app {
  height: 100%;
}

.app {
  padding: 30px;
  background-color: #2d007a;
}

.heading {
  margin-bottom: 50px;
}

.heading, .search-heading {
  color: white;
  text-align: center;
}

